@model IEnumerable<DoctorPortal.Web.Models.DepartmentViewModel>

<style>
    .department-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

@if (Model.Any())
{
    <section class="medical-departments-area">
        <div class="container">
            <div class="sec-title">
                <h1>Medical Departments</h1>
                <span class="border"></span>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="medical-departments-carousel">
                        @foreach (var department in Model)
                        {
                            <div class="single-item text-center">
                                <div class="iocn-holder">
                                    <span class="@department.HomePageIcon"></span>
                                </div>
                                <div class="text-holder">
                                    <h3>@department.DepartmentName</h3>
                                    <p class="department-description">@department.Description</p>
                                </div>
                                <a class="readmore" href="@Url.Action("Index","Department",new { id = department.DepartmentId })">Read More</a>
                            </div>
                        }
                        @*<!--Start single item-->
        <div class="single-item text-center">
            <div class="iocn-holder">
                <span class="flaticon-cardiology"></span>
            </div>
            <div class="text-holder">
                <h3>Cardiology</h3>
                <p>How all this mistaken al idea of denouncing pleasure praisings pain was complete.</p>
            </div>
            <a class="readmore" href="#">Read More</a>
        </div>
        <!--End single item-->
        <!--Start single item-->
        <div class="single-item text-center">
            <div class="iocn-holder">
                <span class="flaticon-lungs"></span>
            </div>
            <div class="text-holder">
                <h3>Pulmonology</h3>
                <p> Who chooses to enjoy a pleasure that has annoying consquences, or one who avoids a pain.</p>
            </div>
            <a class="readmore" href="#">Read More</a>
        </div>
        <!--End single item-->
        <!--Start single item-->
        <div class="single-item text-center">
            <div class="iocn-holder">
                <span class="flaticon-vagina"></span>
            </div>
            <div class="text-holder">
                <h3>Gynecology</h3>
                <p> Who chooses to enjoy a pleasure that has annoying consquences, or one who avoids a pain.</p>
            </div>
            <a class="readmore" href="#">Read More</a>
        </div>
        <!--End single item-->
        <!--Start single item-->
        <div class="single-item text-center">
            <div class="iocn-holder">
                <span class="flaticon-neurology"></span>
            </div>
            <div class="text-holder">
                <h3>Neurology</h3>
                <p> Who chooses to enjoy a pleasure that has annoying consquences, or one who avoids a pain.</p>
            </div>
            <a class="readmore" href="#">Read More</a>
        </div>
        <!--End single item-->*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}
