<style>
    .img-holder {
        height: 111px !important;
        width: 160px !important;
    }
</style>

<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>Orthopedic</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="@Url.Action("orthopaedic","Department")">Department</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">orthopaedic</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!--Start departments single area-->
<section id="departments-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <h1>Orthopaedic hospital</h1><br />

                <div class="text-box">
                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        Anant Hospital gives far-reaching and worlds best orthopaedic services, which is one of the best orthopaedic hospital in Ahmedabad. This department offers specific consideration in the field of complex injury, poly-injury, and related sub-specialties.
                    </p>

                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        Orthopaedic hospital department at our emergency clinics conveys customized care using the most recent research and proof-based drug. The office gives the executives identified with disarranges of bone, joint, and an assortment of musculoskeletal issue. We are providing services, and we take care of joint, knee, hip and shoulder substitution, joint inflammation, and custom embed medical procedures. We treat sports-related wounds, which can be incredibly excruciating and awful. Our games medication group works with specialists to put sportspersons on a fast way to recuperation. Arthroscopy, knee, shoulder and lower leg arthroscopy, repetitive shoulder separation, rotator sleeve fix, subacromial decompression, Msaicrominal, and articular ligament implantation are a portion of different systems done routinely.
                    </p>

                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        We are prepared to analyze and treat hand and upper appendage medical procedure, which incorporates the board of hand cracks, delicate tissues of hand, malunited breaks, diseases of hand and upper appendage pulverize, hand wounds, ligament, nerve fix, recreation, injury of grip and high attachment, intrinsic disfigurement, rheumatoid hand, delicate tissue affections, elbow, outspread head, and joint substitution.
                    </p>

                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        Our Orthopaedic hospital is always prepared at the top focuses around the world, carry with them the most recent and best strategies and work in our offices that have the latest bleeding edge innovation as far as types of gear, operating rooms, recuperation zones and progressed Physical treatment offices.
                    </p>
                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        We have committed and very much outfitted orthopaedic medical procedure buildings with laminar stream and different present-day gear like picture intensifier, working magnifying instrument, PC route framework, excellent arthroscopy framework, and so on.
                    </p>
                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        We Anant Hospital who are Orthopaedic hospital providing the best services like knee replacement surgery, hip replacement surgery, injury and fracture, and many more.
                    </p>

                    <p>
                        <i class="fa fa-hand-o-right"></i>
                        We welcome you to investigate us and acclimate yourself with the different approaches to treat bone and joints issues just as the current offices accessible at Aditya Orthopaedic Hospital to handle such a problem. We have likewise devoted an area to refresh you with the most recent contextual analyses, patients ‘success stories just as specialized progressions in an orthopaedic medical procedure.
                    </p>
                </div>


                <section class="facilities-appointment-area">
                    <div class="facilities-content-box">


                        <div class="sec-title">
                            <h1>Our Facilities</h1>
                            <span class="border"></span>
                        </div>
                        <!--Start facilities carousel-->
                        <div class="facilities-carousel">

                            <div class="single-facilities-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-transport"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Well Equipped Hospital </h3>
                                                <p>30 bedded well equipped hospital</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-drink"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Cafeteria &amp; Ambulance </h3>
                                                <p>Cafeteria &amp; Ambulance</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-medical-2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Sports Injury Centre </h3>
                                                <p>World class sports injury centre for athletes &amp; active people </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-church"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Well Equipped Hospital </h3>
                                                <p>30 bedded well equipped hospital</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-facilities-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-drink"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Cafeteria &amp; Ambulance </h3>
                                                <p>Cafeteria &amp; Ambulance</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-transport"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>24x7 Facility </h3>
                                                <p>24x7 laboratory &amp; pharmacy</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-medical-2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Sports Injury Centre </h3>
                                                <p>World class sports injury centre for athletes &amp; active people </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-church"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Well Equipped Hospital </h3>
                                                <p>30 bedded well equipped hospital</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-facilities-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-drink"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Cafeteria &amp; Ambulance </h3>
                                                <p>Cafeteria &amp; Ambulance</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-transport"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>24x7 Facility </h3>
                                                <p>24x7 laboratory &amp; pharmacy</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-medical-2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Sports Injury Centre </h3>
                                                <p>World class sports injury centre for athletes &amp; active people </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-church"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Well Equipped Hospital </h3>
                                                <p>30 bedded well equipped hospital</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>



            </div>

            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="departments-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h3>Departments</h3>
                        </div>
                        <ul class="all-departments">
                            <li>
                                <a href="@Url.Action("anesthesia","Department")">Anaesthesia</a>
                            </li>
                            <li>
                                <a href="@Url.Action("medicine","Department")">Medicine</a>
                            </li>
                            <li class=active>
                                <a href="@Url.Action("orthopaedic","Department")">Orthopaedic</a>
                            </li>

                        </ul>
                    </div>
                    <!--Ens single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h3>Opening Hours</h3>
                        </div>
                        <ul class="opening-time">
                            <li>Mon - Fri: <span>10:00 AM - 07:00 PM</span></li>
                        </ul>
                    </div>
                    <!--Ens single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h3>Quick Contact</h3>
                        </div>
                        <div class="contact-us">
                            <ul class="contact-info">
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-pin"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>Gujarat College Rod<br>Ellisbridge-Ahmedabad</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-technology"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>info@ananthospitals.com</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-technology-1"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>079-48480108</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Ens single sidebar-->
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Medical Departments area-->
<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title pull-left">
                    <h2>If you are a patient seeking quality healthcare at affordable prices!.</h2>
                </div>
                <div class="button pull-right">
                    <a class="thm-btn bgclr-1" href="#">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End slogan area-->
