@using DoctorPortal.Web.Database
@using Kendo.Mvc.UI

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            
            @(Html.Kendo().Grid<UserMaster>()
                  .Name("UserGrid")
                  .Columns(columns =>
                  {
                      columns.Bound(d => d.Id);
                      columns.Bound(d => d.FullName);
                      columns.Bound(d => d.Email);
                      columns.Bound(d => d.UserName);

                  })
                  //.ToolBar(tools => tools.Excel())
                  .Pageable(x =>
                  {
                      x.Refresh(true);
                      x.PageSizes("10");
                  })

                  .Sortable(sortable => sortable.AllowUnsort(false))
                  .Filterable(filter => filter.Enabled(false))
                  .NoRecords()
                  .Scrollable(scrollable => scrollable.Height(540))

                  .DataSource(dataSource => dataSource
                      .Ajax()
                      //.ServerOperation(true)
                      .PageSize(10)
                      .Model(model => model.Id(d => d.Id))
                      //.Events(events => events.Error("onError(\"warrantyExpirygrid\")"))
                      .Read(read => read.Action("KendoRead", "AdminHome"))
                  ))



        </div>
    </div>
</div>
