<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FAQ Question Received</title>
</head>
<body>
    <div>
        <p>This is to inform that a patient has request an question. Please find the details below.</p>
        <p>Name: <strong>[@NAME]</strong></p>
        <p>Email: <strong>[@EMAIL]</strong></p>
        <p>Subject: <strong>[@SUBJECT]</strong></p>
        <p>Department: <strong>[@DEPARTMENT]</strong></p>
        <p>QuestionText: <strong>[@QUESTION]</strong></p>
    </div>
</body>
</html>