@model DoctorPortal.Web.Models.HospitalViewModel

<section class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/Content/images/resources/logo.png" alt="Awesome Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="header-right">
                    <ul>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h4>Call us now</h4>
                                @{
                                    var contacts = Model.ContactNo.Split(',').ToList();
                                }

                                @if (contacts.Count == 0)
                                {
                                    <span> - </span>
                                }
                                else
                                {
                                    foreach (var contact in contacts)
                                    {
                                        <span> @contact </span><br />
                                    }
                                }
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-pin"></span>
                            </div>
                            <div class="text-holder">
                                <h4>@Model.AddressLine1</h4>
                                <span>@Model.AddressLine2</span>
                                @*@{
                                    var addressLine2 = Model.AddressLine2.Split(',').ToList();
                                }
                                @{
                                    var count = 0;

                                    foreach (var address in addressLine2)
                                    {
                                        count++;
                                        <span> @address@(addressLine2.Count == count ? "" : ",")</span><br />
                                    }
                                }*@
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-agenda"></span>
                            </div>
                            <div class="text-holder">
                                <h4>@Model.WorkingDays</h4>
                                <span>@Model.WorkingHours</span>
                            </div>
                        </li>
                    </ul>
                    <div class="search-button pull-right">
                        <div class="toggle-search">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
