@using DoctorPortal.Web.Areas.Admin.Models
<section class="top-bar-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                @if (!string.IsNullOrEmpty(ProjectSession.Hospital.EmergencyNo))
                {

                    <div class="top-left">
                        <p><span class="flaticon-phone"></span>24 hours emergency & ambulance Service: @ProjectSession.Hospital.EmergencyNo</p>
                    </div>

                }
            </div>
            @*<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="top-right clearfix">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</section>
