@using DoctorPortal.Web.Models;
@model IEnumerable<FacilityViewModel>

@if (Model.Any())
{

    var mainList = new List<IList<FacilityViewModel>>();
    var list = new List<FacilityViewModel>(); ;

    var count = 1;
    var index = 1;
    foreach (var facility in Model)
    {
        if (count == 1)
        {
            list = new List<FacilityViewModel>();
        }

        list.Add(facility);

        if (count == 4 || index == Model.Count())
        {
            count = 1;
            mainList.Add(list);
        }
        else
        {
            count++;
        }
        index++;
    }

    @*<div class="container">
        <div class="row">
            <div class="col-md-12">*@

                @*<div class="facilities-content-box">*@
                    <div class="sec-title">
                        <h1>Our Facilities</h1>
                        <span class="border"></span>
                    </div>
                    <!--Start facilities carousel-->
                    <div class="facilities-carousel">

                        @foreach (var items in mainList)
                        {
                            <div class="single-facilities-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        @if (items.Count >= 1)
                                        {
                                            Html.RenderPartial("~/Views/Home/_Facility_SingleItem.cshtml", items[0]);
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        @if (items.Count >= 2)
                                        {
                                            Html.RenderPartial("~/Views/Home/_Facility_SingleItem.cshtml", items[1]);
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @if (items.Count >= 3)
                                        {
                                            Html.RenderPartial("~/Views/Home/_Facility_SingleItem.cshtml", items[2]);
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        @if (items.Count >= 4)
                                        {
                                            Html.RenderPartial("~/Views/Home/_Facility_SingleItem.cshtml", items[3]);
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                @*</div>*@

            @*</div>

        </div>
    </div>*@

}
