@using DoctorPortal.Web.Areas.Admin.Models.ViewModels
@{
    ViewBag.Title = "Hospital";
}

@Html.Partial("_PageHeader", new PageHeaderViewModel("Hospital", "AdminHome", "Index"))

<div class="content">
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm(new { @class = "form form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.Partial("_ActionBar", new ActionBarViewModel("HospitalController"))

                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Hospital Information</h5>
                    </div>
                    <hr />
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-6">

                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">

                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

