@using DoctorPortal.Web.Areas.Admin.Models.ViewModels
@using DoctorPortal.Web.Common
@using DoctorPortal.Web.Areas.Admin.Controllers;
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Patients";
}

@Html.Partial("_PageHeader", new PageHeaderViewModel("Patients", "Patient", "Index"))


<div class="content">
    <div class="row">
        <div class="col-md-12">

            @Html.Hidden("SelectedPatients")

            @*@using (Html.BeginForm(new { @class = "form form-horizontal" }))
            {*@
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Patients</h5>
                    </div>
                    <hr />
                    <div class="card-body">

                        <button type="button" class="btn btn-outline-primary legitRipple pull-right" onclick="onClickPromotion()">Send Promotional Emails</button>
                        <hr />

                        @{ 
                            var checkbox = "<input type=checkbox class='select-for-promo' patientid=#=Id# onchange='StatusChanged()'>";
                        }

                        @(Html.Kendo().Grid<PatientViewModel>()
                                .Name("gridPatients")
                                .Columns(columns =>
                                {
                                    //columns.Command(command =>
                                    //{
                                    //    command.Custom("Edit").Text("<span class='k-icon k-i-edit' title='Edit'></span>").HtmlAttributes(new { @style = "margin:2px" }).Click("onAddEdit");
                                    //    command.Custom("Delete").Text("<span class='k-icon k-i-close' title='Delete'></span>").HtmlAttributes(new { @style = "margin:2px;" }).Click("onDelete");

                                    //})
                                    //.Title("Action")
                                    //.HtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanEdit)
                                    //.HeaderHtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanEdit);
                                    columns.Bound(d => d.Active)
                                        .Sortable(false).Filterable(false)
                                        .HeaderTemplate("<input type=checkbox id=selectall onchange='onSelectAll(this)'>")
                                        .ClientTemplate("<input type=#=(Active == 1 ? 'checkbox': 'hidden')#  #=(Active == 1 ? 'class=select-for-promo' :'')# patientid=#=Id#  onchange='StatusChanged()'>")
                                        .HtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanEdit)
                                        .HeaderHtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanEdit);
                                    columns.Bound(d => d.Name);
                                    columns.Bound(d => d.Email);
                                    columns.Bound(d => d.Active)
                                    .Filterable(false)
                                    .ClientTemplate(Html.SetStatusClientTemplate("Active", "Patient", "ChangeStatus","id=#= Id #", "#= Id #", "gridPatients", "Patient"))
                                    .HtmlAttributes(WebHelper.StatusColumnStyle)
                                    .HeaderHtmlAttributes(WebHelper.StatusColumnStyle);
                                })
                                //.ToolBar(toolbar =>
                                //{
                                //    toolbar.Template("<a class='k-button k-button-icontext' onclick='onAddEdit(0)' href='javascript:void(0)'><span class='k-icon k-i-plus' title='Add'></span>Add</a> ");
                                //})

                                .Pageable(x =>
                                {
                                    x.Refresh(true);
                                    x.PageSizes(WebHelper.PageSizes);
                                })
                                .Sortable(sortable => sortable.AllowUnsort(false))
                                .Filterable(filter => filter.Enabled(false))
                                .NoRecords()
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(true)
                                    .PageSize(WebHelper.PageSize)
                                    .Model(model => model.Id(d => d.Id))
                                    .Events(events => events.Error("onError('gridDepartment')").RequestEnd("onReqEnd"))
                                    .Read(read => read.Action("KendoRead", "Patient"))
                                ))

                    </div>
                </div>
            @*}*@
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        debugger;
        $('#SelectedPatients').val();
        $('#selectall').prop('checked',false);
        var chks = $('.select-for-promo').toArray();
        chks.forEach(function (chk) {
            chk.checked = false;
        });
    });

    function onReqEnd(res) {
        if (res.type != 'read') {
            $("#gridPatients").data("kendoGrid").dataSource.read();
        }
        DisplayResponseMessage(res);
    }

    function StatusChanged() {

        var selectedPts = '';
        var chks = $('.select-for-promo').toArray();
        chks.forEach(function (chk) {
            if (chk.checked) {
                var id = chk.attributes.patientid.value;
                selectedPts = selectedPts + id + ',';
            }
        });

        $('#SelectedPatients').val(selectedPts);
    }

    function onSelectAll(e) {
        var chks = $('.select-for-promo').toArray();
        chks.forEach(function (chk) {
            chk.checked = e.checked;
        });
        StatusChanged();
    }

    function onClickPromotion() {
        var selectedPts = $('#SelectedPatients').val();
        if (selectedPts == '') {
            bootbox.alert("Please select atlease one patient");
        } else {
            var uri = '@Url.Action("Index", "Promotions")';
            selectedPts = selectedPts.substring(0, selectedPts.length - 1);
            window.location.href = uri + '?patients=' + selectedPts;
        }
    }

</script>

