@using DoctorPortal.Web.Models;
@model FacilityViewModel

@if (Model != null)
{
    <div class="single-item">
        <div class="icon-holder">
            <div class="icon-box">
                <div class="icon">
                    <span class="@Model.IconName"></span>
                </div>
            </div>
        </div>
        <div class="text-holder">
            <h3>@Model.HeaderText</h3>
            <p>@Model.Description</p>
        </div>
    </div>
}
