@using DoctorPortal.Web.Models;
@using DoctorPortal.Web.Common;
@model IEnumerable<FacilityViewModel>

@if (Model.Any())
{
    var size = 4;
    var mainList = Utility.SplitListBySize(Model.ToList(), size);

    @*<div class="container">
        <div class="row">
            <div class="col-md-12">*@

                @*<div class="facilities-content-box">*@
                    <div class="sec-title">
                        <h1>Our Facilities</h1>
                        <span class="border"></span>
                    </div>
                    <!--Start facilities carousel-->
                    <div class="facilities-carousel">

                        @foreach (var items in mainList)
                        {
                            <div class="single-facilities-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        @if (items.Count >= 1)
                                        {
                                            Html.RenderPartial("~/Views/Services/_Facility_SingleItem.cshtml", items[0]);
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        @if (items.Count >= 2)
                                        {
                                            Html.RenderPartial("~/Views/Services/_Facility_SingleItem.cshtml", items[1]);
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @if (items.Count >= 3)
                                        {
                                            Html.RenderPartial("~/Views/Services/_Facility_SingleItem.cshtml", items[2]);
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        @if (items.Count >= 4)
                                        {
                                            Html.RenderPartial("~/Views/Services/_Facility_SingleItem.cshtml", items[3]);
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                @*</div>*@

            @*</div>

        </div>
    </div>*@

}
