

<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>Sports Injuries</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Sports Injuries</li>
                        </ul>
                    </div>
                    @*<div class="right pull-right">
                            <a href="#">
                                <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span>
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder">
                    <img src="~/Content/images/about/welcome.jpg" alt="Awesome Image">
                </div>
                <div class="inner-content">
                    <p>Sport Injury is the injuries that happen during sport, athletic exercises, or working out.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-holder">
                    <div class="title">
                        <h1>SPORTS INJURY CENTRE</h1>

                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            About two million individuals consistently endure sports-related injuries and get treatment in crisis
                            departments. Fatigue is a robust contributing element that outcomes in many sports injuries. For
                            both genders, the most well-known territories harmed are the knee and lower leg, with
                            sprains/strains being the most widely recognized regions for damage. Injuries, including the
                            patellofemoral enunciation, fundamentally increasingly visit among females. The game with the
                            most noteworthy damage rate is football, with more prominent than multiple times the number of
                            injuries found in the next most normal sport.
                        </p>


                    </div>

                </div>
            </div>
        </div>
        <hr />

        <div class="row">

            <div class="col-md-12">


                <div class="text-holder">
                    <div class="title">
                        @*<h1>SPORTS INJURY CENTRE</h1>*@

                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            <b>What causes sports injuries</b><br />
                            Sports injuries can be brought about by:<br />
                            • An accident, for example, a fall or substantial blow<br />
                            • not heating up appropriately before working out<br />
                            • utilizing improper hardware or weak system<br />
                            • propelling yourself excessively hard<br />

                        </p>






                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            We at Sports Injury Centre are committed to keeping Athletes of India ever fit and ever performing.
                            Our slogan at SPORTS INJURY CENTRE IS &quot;SPORTSMAN PLEASE &#39;DON&#39;T RETIRE, and WE ARE HERE TO
                            KEEP YOU ACTIVE.&quot; We have a dedicated rehabilitation center at our hospital for athletes from all
                            fraternities. Dr. Hiren Patel is a full-time Sports Injury Specialist and Sports Injury Surgeon available
                            at our center. His dedication in the field of Sports Medicine since the last ten years is remarkable.
                            Not forgetting to mention that Dr. Pravin Kanabar (past president of Indian orthopedic association)
                            who is the senior most practicing Orthopaedic Surgeon in Gujarat and first surgeon in India to
                            introduce and start minimal invasive joint surgery is the principal mentor of Dr. Hiren Patel and it is
                            the same juncture where the seeds of Sports Injury Centre were sown in 2012 after which the efforts
                            for the same had started. Hence we as a result of this have a state of art Operation Theatre and ICU
                            facility well equipped with STRYKER, DEPUY AND CONMED company equipment for minimally
                            invasive joint surgeries.s
                        </p>


                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            <b>The most common types of sports injuries, which include</b>:<br />
                            • Sprains<br />
                            • Knee injuries<br />
                            • Strains<br />
                            • Fractures<br />
                            • Dislocations<br />
                            • Achilles tendon injuries<br />
                        </p>

                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            <b>Symptoms of sports injuries</b>
                            If you have an injury from exercise or game, the first thing you have to do is quit doing it and rest the
                            influenced zone. Contingent upon the seriousness of the game damage, you may need to look for
                            therapeutic exhortation.
                            The following things are signs that you have undoubtedly harmed yourself, and medical treatment
                            might be required:<br />
                            • Swelling<br />
                            • Pain<br />
                            • Bruising<br />
                            • Reduced range of motion<br />
                            • Weakness, numbness<br />
                            • Stiffness or Tenderness<br />
                            • Muscle spasms<br />
                        </p>



                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            We at <b>SPORTS INJURY CENTRE</b> has BOSU BALL, THERA BANDS, THERA TUBES, STRETCHING TUBES,
                            DUMBBELLS, PILATES RING, MODALITY THERAPIES LIKE DIATHERMY, ULTRASOUND, CERVICAL AND
                            LUMBAR TRACTION SYSTEM, TENS THERAPY ETC. Dr. Shikha Singh is pivotal in our center as she is
                            the chief Sports Physiotherapist at Sports Injury Centre. She has a very wide and national experience
                            in treating amateur as well as elite professional athletes like MARY KOM, LOVINA( BRONZE AIBA
                            WORLD CHAMPIONSHIP), SONIA ( SILVER AIBA) , LAISHRAM SARITA DEVI ( ONE TIME WORLD
                            CHAMPION IN LIGHTWEIGHT CLASS OF BOXING, AN ARJUN AWARD WINNER) , ARUNA REDDY (
                            BRONZE CWG 2018 ) , PARENTI DAS( INTERNATIONAL GYMNAST ). The list is endless and ever-
                            growing here.
                        </p>
                        

                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            We are at this moment writing a sports story of Gujarat and hence of India. We are the only one of
                            its kind center of 30-bed capacity having an in-house facility of PREHABILITATION, SURGERY AND
                            POSTOPERATIVE REHABILITATION in any and every sports-related injuries. &#39;It&#39;s a matter of utmost
                            satisfaction and gratification to convey that we are working at the very grass root level taking care of
                            the budding kids having interest in myriads of sports help them reach the level of professional
                            athletes. Giving the phrase &quot;PREVENTION IS BETTER THAN CURE&quot; its true meaning we at SPORTS
                            INJURY CENTRE are counseling thousands of school kids regularly on how to prevent common sports
                            injuries like hamstring spasms, wrist sprains, tennis elbow, twisted knees, painful shoulders, and
                            finger injuries.
                        </p>


                        <p>
                            <i class="fa fa-hand-o-right"></i>
                            Anant Hospital and Sports Injury Centre promotes healing and expects to improve our patient&#39;s
                            capacity, portability, prevent inability, and increase quality. Our key target is for our patients to
                            accomplish freedom from pain, have a free-living, and to have a comprehension of how to avoid
                            injury.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>