

<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>Sports Injuries</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Sports Injuries</li>
                        </ul>
                    </div>
                    @*<div class="right pull-right">
                            <a href="#">
                                <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span>
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder">
                    <img src="~/Content/images/about/welcome.jpg" alt="Awesome Image">
                </div>
                <div class="inner-content">
                    <p>As a tertiary referral ICU to provide state of the art care with the help of very good professionals and infrastructure.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-holder">
                    <div class="title">
                        <h1>SPORTS INJURY CENTRE</h1>

                        <p>
                            We at Sports Injury Centre are committed to keep
                            Athletes of India ever fit and ever performing. Our slogan
                            at SPORTS INJURY CENTRE IS “ SPORTSMAN PLEASE
                            DON’T RETIRE, WE ARE HERE TO KEEP YOU ACTIVE.” We
                            have a dedicated rehabilitation centre at our hospital for
                            athletes from all fraternities. Dr Hiren Patel is full time
                            Sports Injury Specialist and Sports Injury Surgeon
                            available at our centre. His dedication in the field of
                            Sports Medicine since last 10 years is really remarkable.
                            Not forgetting to mention that Dr Pravin Kanabar (past
                            president of Indian orthopaedic association) who is the
                            senior most practicing Orthopaedic Surgeon in Gujarat
                            and first surgeon in india to introduce and start minimal
                            invasive joint surgery is the key mentor of Dr Hiren Patel
                            and it is the same juncture where the seeds of Sports
                            Injury Centre were sown in 2012 after which the efforts
                            for the same had started. Hence we herby have a state of
                            art Operation Theatre and ICU facility well equipped with
                            STRYKER, DEPUY AND CONMED company equipments
                            for minimal invasive joint surgeries. We at SPORTS
                        </p>


                    </div>

                </div>
            </div>
        </div>
        <hr />

        <div class="row">

            <div class="col-md-12">


                <div class="text-holder">
                    <div class="title">
                        @*<h1>SPORTS INJURY CENTRE</h1>*@

                        <p>
                            INJURY CENTRE have BOSU BALL, THERA BANDS, THERA
                            TUBES, STRECHING TUBES, DUMB BELLS, PILATES RING ,
                            MODALITY THERAPIES LIKE DIATHERMY, ULTRASOUND,
                            CERVICAL AND LUMBAR TRACTION SYSTEM, TENS
                            THERAPY ETC. Dr Shikha Singh is pivotal in our centre as
                            she is the chief Sports Physiotherapist at Sports Injury
                            Centre. She has a very wide and national experience in
                            treating amateur as well as elite professional athletes like
                            MARY KOM, LOVLINA( BRONZE AIBA WORLD
                            CHAMPIONSHIP), SONIA ( SILVER AIBA) , LAISHRAM
                            SARITA DEVI ( ONE TIME WORLD CHAMPION IN LIGHT
                            WEIGHT CLASS OF BOXING, AN ARJUN AWARD
                            WINNER) , ARUNA REDDY ( BRONZE CWG 2018 ) ,
                            PARINITI DAS( INTERNATIONAL GYMNAST ). List is
                            endless and ever growing here. We are hereby writing a
                            sports story of Gujarat and hence of India. We are the
                            only one of its kind centre of 30 bed capacity having
                            inhouse facility of PREHABILITATION, SURGERY AND
                            POST OPERATIVE REHABILITATION in any and every
                            sports related injuries. It’s a matter of utmost satisfaction
                            and gratification to convey that we are working at the
                            very grass root level taking care of the budding kids
                            having interest in myriads of sports help them reach the
                        </p>
                        <p>
                            level of professional athletes. Giving the phrase “
                            PREVENTION IS BETTER THAN CURE” its true meaning
                            we at SPORTS INJURY CENTRE are counseling thousands
                            of school kids on regular basis on how to prevent
                            common sports injuries like hamstring spasms, wrist
                            sprains, tennis elbow, twisted knees, painful shoulders
                            and finger injuries.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>