
@{
    ViewBag.Title = "About Us";
}

<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                    @*<div class="right pull-right">
                            <a href="#">
                                <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span>
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-area">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">
                    <div class="img-holder">
                        <img src="~/Content/images/about/welcome.jpg" alt="Awesome Image">
                    </div>
                    <div class="inner-content">
                        <p>As a tertiary referral ICU to provide state of the art care with the help of very good professionals and infrastructure.</p>
                    </div>
                </div>*@
            <div class="col-md-12">
                <div class="text-holder">
                    <div class="title">
                        <h1>Welcome to the Anant Hospital</h1>
                        <div class="text">
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                We are located in prime location of central
                                Ahmedabad just 15 minutes ride away from
                                Ahmedabad International &amp; Domestic Airport, 10
                                minutes ride away from Ahmedabad Railway station
                                and 5 minutes ride away from Paldi Bus station.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                We are a 5 minutes walk from Gandhigram Metro
                                Station( just next to Stadium Metro Station which is
                                junction of North- South and East- West Metro
                                corridor of Ahmedabad).
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                Quiet, clean , well spacious, well ventilated rooms
                                with lot of natural daylight
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                24*7 nursing and doctor care.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                We have dedicated Indoor corridor for rapid
                                recovery of operated orthopaedic patients.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                2 state of art operation theratres matching highest
                                level of standards required for operating excellence.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                Dedicated Class 100 Clean Room Operation theatre
                                especially dedicated for Joint Replacement surgeries.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                Fully Automated Horizontal Autoclave machine for
                                <b>“ZERO ERROR STERILIZATION”</b> to reduce the
                                chances of infection to below Global Frequency in
                                Benchmark orthopaedic hospitals.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                Very co-operative, caring, hard working and soft
                                spoken hospital staff- we make sure the hospital stay
                                of patients is hassle free.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                Flexible availability of Full time orthopaedic
                                surgeon from morning 10 am to 8:30 pm.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                Dedicated Nurse Calling System for each and
                                every indoor patient with remote control at the bed
                                for prompt &amp; easy access of nursing care.
                            </p>
                            <p>
                                <i class="fa fa-hand-o-right"></i>
                                We have inhouse I.C.C.U centre so that we can
                                admit and operate critical care orthopaedic patients
                                which many of the geriatric patients are.
                            </p>
                            <p>
                                <b>
                                    <i class="fa fa-hand-o-right"></i>
                                    STRYKER COMPANY ARTHROSCOPY TOWER-
                                    BEST IN CLASS HD CAMERA SYSTEM WITH
                                    RADIOFREQUENCY ABLATER(LASER) FOR BETTER
                                    MINIMAL INVASIVE MANAGEMENT OF KNEE AND
                                    SHOULDER PROBLEMS.
                                </b>
                            </p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="single-item">
                                <div class="iocn-box">
                                    <span class="flaticon-shapes"></span>
                                </div>
                                <div class="text-box">
                                    <h3>Our Mission</h3>
                                    <p>
                                        To treat patients with bone and joint ailments with
                                        empathy, passion , care and utmost satisfaction.
                                        We care, we treat and he cures is our core mission
                                        Indepth efforts to come to diagnosis and further
                                        management of complicated orthopaedic cases.
                                        We make sure our patients are up, out of bed and
                                        mobile on there own as soon as possible
                                        Reduce pain, suffering and the recovering time by
                                        faster and efficient rehabilitation.
                                        Minimum tablets and maximum result by lifestyle
                                        modifications and rehabilitation is our prime goal.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="single-item">
                                <div class="iocn-box">
                                    <span class="flaticon-technology-2"></span>
                                </div>
                                <div class="text-box">
                                    <h3>Our Vision</h3>
                                    <p>
                                        To become benchmark in orthopaedics care in
                                        western part of india.
                                    </p>
                                    <div class="text">
                                        <p>
                                            <i class="fa fa-hand-o-right"></i>Sportsman please don’t retire, we are here to keep
                                            you active.
                                        </p>
                                        <p>
                                            <i class="fa fa-hand-o-right"></i>To keep people of Western India active, healthy and
                                            sports savvy.
                                        </p>
                                        <p>
                                            <i class="fa fa-hand-o-right"></i>To become best centre for management of sports
                                            injuries and rehabilitation in WESTERN INDIA.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="button">
                        <a class="thm-btn bgclr-1" href="@Url.Action("Index","Department")">Our Departments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End welcome area-->
<!--Start special features area-->
<section class="facilities-appointment-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="facilities-content-box">
                    @{
                        Html.RenderAction("GetServicesPartialView", "Services");
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="special-features-area">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item">
                        <div class="icon-box">
                            <span class="flaticon-transport"></span>
                        </div>
                        <div class="text-box">
                            <h3>24 Hrs Ambulance</h3>
                            <p>How all this mistaken idea denoucing pleasure and praisings pain was born complete account expound.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item">
                        <div class="icon-box">
                            <span class="flaticon-drink"></span>
                        </div>
                        <div class="text-box">
                            <h3>Food & Dietry</h3>
                            <p>There anyone who loves or pursues or to obtain pain of itself, because it is but because occasionally.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item">
                        <div class="icon-box">
                            <span class="flaticon-avatar"></span>
                        </div>
                        <div class="text-box">
                            <h3>Special Nurses</h3>
                            <p>Pursues or desires to obtain pain itself, because is pain, because occasionally circumstances occur procure.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
            </div>
            <div class="row">
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item">
                        <div class="icon-box">
                            <span class="flaticon-church"></span>
                        </div>
                        <div class="text-box">
                            <h3>Places of Worship</h3>
                            <p>Undertakes laborious physical exercise, except to obtain some advantage from it but who has any right.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item">
                        <div class="icon-box">
                            <span class="flaticon-phone"></span>
                        </div>
                        <div class="text-box">
                            <h3>Customer Support</h3>
                            <p>Undertakes laborious physical exercise, except to obtain some advantage from it but who has any right.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item">
                        <div class="icon-box">
                            <span class="flaticon-medical-2"></span>
                        </div>
                        <div class="text-box">
                            <h3>Very Fast Aid</h3>
                            <p>Pursues or desires to obtain pain itself, because is pain, because occasionally circumstances occur procure.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
            </div>
        </div>
    </section>*@
<!--End special features area-->
<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title pull-left">
                    <h2>If you are a patient seeking quality healthcare at affordable prices!.</h2>
                </div>
                <div class="button pull-right">
                    <a class="thm-btn bgclr-1" href="@Url.Action("Index","ContactUs")">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End slogan area-->
<!--Start project faq area-->
<section class="project-faq-area sec-padding">
    <div class="container">
        <div class="sec-title mar0auto text-center">
            <h1>Photo Gallery & FAQ’s</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="latest-project">
                    <!--Start single blog post-->
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="~/Content/images/gallery/latest-project-1.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="~/Content/images/gallery/latest-project-2.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="~/Content/images/gallery/latest-project-3.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="~/Content/images/gallery/latest-project-4.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="~/Content/images/gallery/latest-project-5.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="single-project-item">
                        <div class="img-holder">
                            <img src="~/Content/images/gallery/latest-project-6.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="faq-content">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Is ACL tear of my knee a career ending injury?</h4>
                            </div>
                            <div class="accord-content">
                                <p>
                                    <b>NO,</b> we at Sports Injury Centre do take utmost
                                    aggressive rehabilitation and if indicated surgical
                                    intervention and make the professional athlete or
                                    weekend warrior athlete back to sports as soon as
                                    possible.
                                </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn active">
                                <h4>Are all painful shoulder problems Frozen Shoulder?</h4>
                            </div>
                            <div class="accord-content collapsed">
                                <p>
                                    <b>NO,</b> shoulder has many intraarticular structure and
                                    hence many pathologies like Idiopathic Adhesive
                                    capsulitis, Rotater cuff tear, PASTA Tear, PBSTA Tear,
                                    SLAP Tear, Bankart Tear, Hill Sach’s Lesion, Biceps
                                    Tendon tear, Rotater Cuff Arthropathy, Shoulder
                                    Osteoarthritis, Shoulder Synovitis and many more hence
                                    it requires detailed history taking, astute physical
                                    examination and advanced imaging technology.
                                </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block last">
                            <div class="accord-btn last">
                                <h4>Should TKR be treatment of choice in comparatively younger patients with knee pain?</h4>
                            </div>
                            <div class="accord-content">
                                <p>
                                    <b>NO,</b> we at Sports Injury Centre are managing knee
                                    pain in young people with a very scientific and patient
                                    specific approach which requires HKA axis Xray to
                                    diagnose tibia vara, if found it can be corrected surgically
                                    by high tibial osteotomy and hence patient’s knee joint
                                    can be saved from total knee replacement, the surgery
                                    being termed as <b>‘KNEE SALVAGE SURGERY’ OR ‘GREEN KNEE SURGERY’</b>
                                    as termed by us.
                                </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Should we consider meniscal tears at younger age significantly important?</h4>
                            </div>
                            <div class="accord-content">
                                <p>
                                    <b>YES,</b> meniscus are the semicircular shocking
                                    absorbing elastic discs which helps protect bone and
                                    articular cartilage from vertical and shear stress, if they
                                    are damaged then if this meniscal damage is neglected
                                    then can lead to early osteoarthritis
                                </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End project faq area-->
<!--Start fact counter area-->
@*<section class="fact-counter-area black-bg" style="background-image:url(images/resources/fact-counter-bg-v2.jpg);">
        <div class="container">
            <div class="sec-title text-center">
                <h1>Keep <span>your headup</span> & be patient</h1>
                <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the<br> system and expound the actual teachings of the great.</p>
            </div>
            <div class="row">
                <!--Start single item-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li>
                            <div class="single-item text-center">
                                <div class="icon-holder">
                                    <span class="flaticon-medical"></span>
                                </div>
                                <h1><span class="timer" data-from="1" data-to="25" data-speed="5000" data-refresh-interval="50">25</span></h1>
                                <h3>Years of Experience</h3>
                            </div>
                        </li>
                        <li>
                            <div class="single-item text-center">
                                <div class="icon-holder">
                                    <span class="flaticon-smile"></span>
                                </div>
                                <h1><span class="timer" data-from="1" data-to="284" data-speed="5000" data-refresh-interval="50">284</span></h1>
                                <h3>Well Smiley Faces</h3>
                            </div>
                        </li>
                        <li>
                            <div class="single-item text-center">
                                <div class="icon-holder">
                                    <span class="flaticon-medical-1"></span>
                                </div>
                                <h1><span class="timer" data-from="1" data-to="176" data-speed="5000" data-refresh-interval="50">176</span></h1>
                                <h3>Heart Transplant</h3>
                            </div>
                        </li>
                        <li>
                            <div class="single-item text-center">
                                <div class="icon-holder">
                                    <span class="flaticon-ribbon"></span>
                                </div>
                                <h1><span class="timer" data-from="1" data-to="142" data-speed="5000" data-refresh-interval="50">142</span></h1>
                                <h3>Awards Holded</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End single item-->

            </div>
        </div>
    </section>*@
<!--End fact counter area-->

@{
    Html.RenderAction("GetDoctorPartialView", "Doctor", new { area = "" });
}

<!--Start certificates area-->
@*<section class="certificates-area">
        <div class="container">
            <div class="sec-title">
                <h1>Awards & Recognition</h1>
                <span class="border"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="certificates">
                        <!--Start single item-->
                        <a href="#">
                            <div class="single-item">
                                <img src="~/Content/images/certificates/certificate_1.jpg" alt="Awesome Image">
                            </div>
                        </a>
                        <!--End single item-->
                        <!--Start single item-->
                        <a href="#">
                            <div class="single-item">
                                <img src="~/Content/images/certificates/certificate_2.jpg" alt="Awesome Image">
                            </div>
                        </a>
                        <!--End single item-->
                        <!--Start single item-->
                        <a href="#">
                            <div class="single-item">
                                <img src="~/Content/images/certificates/certificate_3.jpg" alt="Awesome Image">
                            </div>
                        </a>
                        <!--End single item-->
                        <!--Start single item-->
                        <a href="#">
                            <div class="single-item">
                                <img src="~/Content/images/certificates/certificate_4.jpg" alt="Awesome Image">
                            </div>
                        </a>
                        <!--End single item-->
                        <!--Start single item-->
                        <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/1.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/2.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/3.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/4.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/1.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/2.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/3.jpg" alt="Awesome Image">
                                </div>
                            </a>
                            <!--End single item-->
                            <!--Start single item-->
                            <a href="#">
                                <div class="single-item">
                                    <img src="images/certificates/4.jpg" alt="Awesome Image">
                                </div>
                            </a>
                        <!--End single item-->
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--End certificates area-->
