<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="col-lg-7 text-right">

            <input type="submit"
                   class="btn btn-outline-primary legitRipple"
                   value="Send Emails" />

            <a 
               href="@Url.Action("Index", "Patient")" 
               class="btn btn-outline-primary legitRipple" >
            Back</a>

        </div>
    </div>
</div>
